extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt = "imagen sobre nosotros", class = "img-fluid"
                )
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipiscing elit torquent eleifend, tellus felis dictum nisl enim posuere proin leo pretium gravida, velit magnis diam odio sapien nostra ridiculus porta. Egestas pellentesque habitasse lectus ullamcorper a netus in pretium vel praesent ad, rhoncus venenatis suspendisse semper purus odio morbi tellus malesuada donec. Iaculis donec urna vitae sapien non augue velit justo netus himenaeos leo, conubia neque fames vivamus quis nisl nam nunc ante pulvinar ac sociosqu, mauris posuere consequat volutpat condimentum cubilia curabitur suspendisse fringilla scelerisque.

                p Nibh pharetra class fermentum aenean sociosqu est vel proin, urna id vitae sem eu suspendisse sapien, vulputate pretium et ullamcorper inceptos orci laoreet. Risus integer nisl in sociis bibendum metus fames natoque sollicitudin, magnis blandit nam sapien vitae purus malesuada ornare odio nullam, erat vehicula nunc sed tortor urna id molestie. Dui scelerisque venenatis lacinia ante class nibh egestas placerat litora porttitor netus, curae maecenas ultricies euismod dis urna nascetur imperdiet est dictum. Libero nisl senectus mi posuere tellus mauris convallis dignissim sagittis varius, odio fringilla hac placerat semper himenaeos cubilia sodales scelerisque.

                p Et dictumst ligula primis aenean fames cubilia, convallis ante elementum senectus fringilla nostra consequat, nascetur accumsan vel ut praesent. Nec metus est curabitur netus curae volutpat condimentum libero, ligula lobortis placerat habitant neque enim class accumsan, mus sem cubilia natoque eu porttitor mauris. Ligula quam cum condimentum proin nascetur vestibulum senectus dui ut facilisi facilisis ridiculus cursus, fringilla class euismod tempor ornare molestie suspendisse himenaeos justo blandit augue. Sollicitudin himenaeos lacus eros tortor imperdiet odio etiam faucibus, ligula habitasse fermentum senectus sodales sociis.
    .listado-iconos
        .container.mt-5.py-5.text-center
           .row 
              .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipiscing elit gravida venenatis nostra, ac faucibus eget odio.
              .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipiscing elit gravida venenatis nostra, ac faucibus eget odio.
              .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipiscing elit gravida venenatis nostra, ac faucibus eget odio.

                


